/* CSS Document */

@import "https://fonts.googleapis.com/css?family=Open+Sans";
:root {
    --app-space-y: 1.3rem;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    user-select: none;
}

input,
label {
    cursor: pointer;
}

#loading-icon {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.scrollBlock {
    /* Blocks page scrolling */
    overflow: hidden;
}


/* UI */

header {
    background-color: #ececec !important;
    border-bottom: 0.25rem solid steelblue !important;
}

#article-heading {
    font-size: 1.1em;
}

#article {
    line-height: 1.7em !important;
}

.button {
    color: #fff;
    background-color: steelblue;
    border-color: steelblue;
}


/* Main */

main {
    background-color: #fff;
    padding-bottom: 25vh;
    transition: padding-bottom 1s;
    min-height: 100%;
}


/* App  */

#app {
    position: fixed;
    z-index: 10;
    bottom: 0;
    /* height: 25vh !important; */
    background-color: #fff !important;
    border-top: 0.5rem solid steelblue !important;
    background-color: lightsteelblue !important;
    transition: height 1s;
}

#app-instructions {
    padding-top: 0.5rem;
    padding-bottom: var(--app-space-y);
    max-height: calc(25vh - 2rem);
    overflow-y: auto;
}

#app-instructions-row {
    position: relative;
}


/* Fades out the scrollable content */

#app-instructions-row::before {
    z-index: 10;
    content: "";
    position: absolute;
    width: 100%;
    height: var(--app-space-y);
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, lightsteelblue, transparent 120%);
}

#app-button {
    height: 2rem;
    width: 8rem;
    padding: 0 !important;
}


/* Component highlighting */

@-webkit-keyframes pulse {
    0% {
        background: transparent;
    }
    100% {
        background: steelblue;
    }
}

@keyframes pulse {
    0% {
        background: transparent;
    }
    100% {
        background: steelblue;
    }
}

.app-show-highlight {
    -webkit-animation: pulse 0.8s ease-in-out infinite alternate;
    animation: pulse 1s ease-in-out infinite alternate;
}


/* --------------------- */

.app-show-temp {
    position: fixed !important;
    width: 100% !important;
    margin: 0 !important;
}

.grayBlock {
    position: relative;
}

.grayBlock::before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: black;
    opacity: 0.3;
}

.actionBlock {
    pointer-events: none;
}


/* Task 2 */

.s,
.w {
    /* All words and sentences can be clicked on */
    cursor: pointer;
}