:root {
    --dark-gray: #454545;
}

.wd_lr:not(.wdsd-hidden) {
    border-bottom: 0.2em dotted var(--dark-gray);
    cursor: pointer;
}

.wd_lr-active {
    text-shadow: 0 0 1px black;
}

#wd_lr-component {
    width: 360px !important;
}