/* CSS Document */

@import "https://fonts.googleapis.com/css?family=Open+Sans";
body {
    font-family: 'Open Sans', sans-serif !important;
    user-select: none;
    line-height: 1.7em !important;
}