.DS_Store

# Articles
articles/task1
articles/tut1
articles/task2.html
articles/tut2.html

# Third party dependencies
css/bootstrap.min.css
css/bootstrap.min.css.map
js/bootstrap.bundle.min.js
js/bootstrap.bundle.min.js.map
js/jquery-3.6.0.min.js

# Server credentials
sqlCreds.php