/* CSS Document */

@import "https://fonts.googleapis.com/css?family=Open+Sans";
body {
    font-family: 'Open Sans', sans-serif !important;
    user-select: none;
}

#ui {
    background-color: #ececec !important;
}

#heading {
    font-size: 1.1em;
}

#article-container {
    line-height: 1.7em !important;
}

.article-navigator {
    color: #fff;
    background-color: steelblue;
    border-color: steelblue;
}